@using IEP___projekat_AS.Models
@model SearchAuctionViewContainerModel

@{
    ViewBag.Title = "Auction - Index";
    Layout = "~/Views/Shared/_LayoutSignalR.cshtml";
}

<h2>Index</h2>

@************************************************
  *     ODKOMENTARISI KAD ZAVRSIS PAGING        *
  *********************************************** 
*@

@Html.Partial("SearchPartial", Model.searchAuctionViewModel)

<hr />       

@**************************************************
  *ODKOMENTARISI KAD ZAVRSIS PAGING I SEARCH IZNAD*
  *************************************************
*@

@Html.Partial("AuctionListDisplayPartial", Model.auctionList)

