<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iep-projekat-as.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>iep-projekat-as.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IEP-projekat-AS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IEP-projekat-AS</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDbContext" Order="5" Enabled="True">
          <Destination Path="Data Source=iep-as.database.windows.net;Initial Catalog=iep_as;Persist Security Info=True;User ID=xlstefan;Password=selco123!;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IEP___projekat_AS.Models.ApplicationDbContext, IEP - projekat AS" MigrationConfiguration="IEP___projekat_AS.Migrations.Configuration, IEP - projekat AS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyDbContext-Web.config Connection String">
      <ParameterValue>Data Source=iep-as.database.windows.net;Initial Catalog=iep_as;Persist Security Info=True;User ID=xlstefan;Password=selco123!;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>